.accordion-container {
  max-width:96% ;
  margin: 30px auto;
  font-family: poppins;
  font-size: 20px;
}

.Title {
  
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 40px;
  color: rgb(41, 71, 140);
  
}

.accordion-list {
  list-style: none;
  margin: 0;
  padding: 0;
  
}

.accordion-item {

  border-bottom: 1px solid #ddd;
}

.accordion-title {
    
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px;
  cursor: pointer;
  font-size: 18px;
  color: #323131;
  transition: background 0.2s;
}

.accordion-title:hover {
  background: #f9f9f9;
}

.accordion-title.active {
    
  color: #17347d; 
  font-weight: bold;
}

.accordion-content {
  padding: 10px 15px;
  background: #fafafa;
  font-size: 18px;
  color: #161719;
}
.checklist li{
    list-style: none;
    padding: 2px;
    color: #1b1b1c;
}