@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap');

.learn-main{
     padding-top:80px;
    font-family: poppins;
    width: 80%;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}
.dsa-box, .frontend-box, .backend-box{
    height: 400px;
    background-color: rgba(248, 250, 250, 0.825);
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 20px;
    box-sizing: border-box;
    border-radius:12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.825);
}
.dsa-box:hover, .frontend-box:hover, .backend-box:hover{
    cursor: pointer;
    background-color: white;
}
.dsa-box img, .frontend-box img, .backend-box img{
    padding: 20px;
    border-radius: 50%;
    height: 250px;
    width: 250px;
}
.dsa-box button, .frontend-box button, .backend-box button{
    background-color: rgb(31, 58, 146);
    border: none;
    width: 75%;
    align-self: center;
    height: 40px;
    border-radius: 12px;
    color: white;

}
.dsa-box button:hover, .frontend-box button:hover, .backend-box button:hover{
    background-color: rgba(2, 25, 54, 0.964);
    cursor: pointer;
}
