.Ds{
  margin-left: 26px;
  margin-top: 100px;
  font-family: poppins;
  font-weight: 700;
  font-size: 40px;
  color: rgb(41, 71, 140);
}
.dsa-grid {
  padding-top:20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px;
}
